- alias: "IFTTTmovie"
    trigger:
      - platform: event
        event_type: ifttt_webhook_received
        event_data:
          action: call_service
    condition:
      condition: and
      conditions:
        - condition: template
          value_template: "{{ trigger.event.data.service == 'script.download_movie' }}"
    action:
      - service_template: '{{ trigger.event.data.service }}'
        data_template:
          movie: '{{ trigger.event.data.data }}'
